@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --main-color: #3282B8;
    --secondary-color: #0F4C75;
    --background-color: #1B262C;
    --header-color: #324752;
    --bright-color: #BBE1FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
}

.menu-logo {
    text-decoration: none;
    font-size: 2rem;
    color: var(--background-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1rem;
    letter-spacing: 0.1rem;
    transition: all 0.5s;
}

.menu-logo:hover {
    transform: scale(1.1);
}

.menu-logo-span {
    color: var(--main-color);
    font-weight: 700;
}

.menu-logo-mobile {
    text-decoration: none;
    font-size: 2rem;
    color: var(--background-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1rem;
    letter-spacing: 0.1rem;
    display: none;
}

.menu {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--header-color);
    height: 8vh;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list-btn {
    text-decoration: none;
    color: var(--bright-color);
    letter-spacing: 3px;
    margin-left: 10px;
    padding: 1rem;
    transition: all 0.5s;
}

.menu-list-btn:hover {
    text-shadow: var(--bright-color) 0 0 10px, var(--bright-color) 0 0 10px, var(--bright-color) 0 0 10px;
}

.menu-mobile-btn {
    display: none;
    cursor: pointer;
}

.menu-mobile-btn div {
    width: 32px;
    height: 2px;
    background-color: var(--main-color);
    margin: 8px;
    transition: 0.3s;
}

.menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu.active .line2 {
    opacity: 0;
}

.menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 92svh;
}

.page {
    height: 92svh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.one {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.main-one{
    display: flex;
    height: 80svh;
    width: 80svw;
    justify-content: space-around;
    align-items: center;
}

.image {
    background-color: var(--main-color);
    height: 80%;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: blob 10s ease-in-out infinite;
    transition: all 0.5s;
}

.image:hover {
    transform: scale(1.1);
}

.image-photo {
    height: 100%;
    animation: blob 10s ease-in-out infinite;
    transition: all 5s ease-in-out;
}

.scroll-about{
    text-decoration: none;
    color: var(--bright-color);
    font-size: 1.5rem;
    transition: all 1s;
    margin-left: 55%;
    animation: fly 2s ease-in-out infinite;
}

.social-icons{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 5rem;
    text-decoration: none;
    text-align: center;
}

.fa-brands{
    color: var(--bright-color);
}

.center-icon{
    font-size: 2rem;
}

.two {
    background-color: var(--background-color);
    color: var(--bright-color);
}

.about{
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    gap: 3rem;
}

.about-title{
    font-size: 2.5rem;
    text-align: center;
}

.about-text{
    font-size: 1.5rem;
    text-align: justify;
}

.about-strong{
    color: var(--main-color);
}

.cs{
    color: #853688;
    font-weight: 700;
}

.c{
    color: #3f4caf;
    font-weight: 700;
}

.html{
    color: #f16a30;
    font-weight: 700;
}

.css{
    color: #088dcc;
    font-weight: 700;
}

.js{
    color: #f7e025;
    font-weight: 700;
}

.three {
    background-color: var(--background-color);
}

.four {
    background-color: var(--background-color);
}

.five {
    background-color: var(--background-color);
}

@keyframes blob {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    33% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    66% {
        border-radius: 70% 30% 50% 40%/50% 30% 70% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@keyframes fly {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

@media (max-width: 1000px) {
    .menu-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        top: 8vh;
        right: 0px;
        background: var(--header-color);
        transition: .5s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.5rem;
    }

    .menu.active .menu-list {
        height: 92svh;
        visibility: visible;
        overflow-y: auto;
        padding-bottom: 8vh;
    }

    .menu-mobile-btn {
        display: block;
    }

    .menu-logo-mobile {
        display: block;
    }

    .menu-logo {
        display: none;
    }

    .social-icons{
        flex-direction: row;
    }

    .main-one{
        flex-direction: column-reverse;
    }

    .social-icons{
        gap: 3rem;
    }

    .image{
        height: 70%;
    }

    .center-icon{
        display: none;
    }

    .about{
        margin: 0 5%;
    }
}