@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --main-color: #3282B8;
    --secondary-color: #0F4C75;
    --background-color: #1B262C;
    --header-color: #324752;
    --bright-color: #BBE1FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
}

.menu-logo {
    text-decoration: none;
    font-size: 2rem;
    color: var(--background-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1rem;
    letter-spacing: 0.1rem;
    transition: all 0.5s;
}

.menu-logo:hover {
    transform: scale(1.1);
}

.menu-logo-span {
    color: var(--main-color);
    font-weight: 700;
}

.menu-logo-mobile {
    text-decoration: none;
    font-size: 2rem;
    color: var(--background-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1rem;
    letter-spacing: 0.1rem;
    display: none;
}

.menu {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--header-color);
    height: 8vh;
}

.menu-list {
    list-style: none;
    display: flex;
    white-space: nowrap;
}

.menu-list-btn {
    text-decoration: none;
    color: var(--bright-color);
    letter-spacing: 3px;
    margin-left: 10px;
    padding: 1rem;
    transition: all 0.5s;
}

.menu-list-btn:hover {
    text-shadow: var(--bright-color) 0 0 10px, var(--bright-color) 0 0 10px, var(--bright-color) 0 0 10px;
}

.menu-mobile-btn {
    display: none;
    cursor: pointer;
}

.menu-mobile-btn div {
    width: 32px;
    height: 2px;
    background-color: var(--main-color);
    margin: 8px;
    transition: 0.3s;
}

.menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu.active .line2 {
    opacity: 0;
}

.menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 92svh;
}

.page {
    height: 92svh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.one {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.main-one {
    display: flex;
    height: 80svh;
    width: 80svw;
    justify-content: space-around;
    align-items: center;
}

.image {
    background-color: var(--main-color);
    height: 80%;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: blob 10s ease-in-out infinite;
    transition: all 1s;
}

.image:hover {
    transform: scale(1.1);
}

.image-photo {
    height: 100%;
    animation: blob 10s ease-in-out infinite;
    transition: all 5s ease-in-out;
}

.main-one .image.hidden {
    opacity: 0;
}

.main-one .image.show {
    opacity: 1;
}

.scroll-about {
    text-decoration: none;
    color: var(--bright-color);
    font-size: 1.5rem;
    transition: opacity 5s;
    margin-left: 55%;
    animation: fly 2s ease-in-out infinite;
    padding: 2rem;
}

.scroll-about.hidden {
    opacity: 0;
}

.scroll-about.show {
    opacity: 1;
}

.social {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    line-height: 4rem;
    gap: 2rem;
}

.social-btn {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    text-align: left;
    overflow: hidden;
    border-radius: 5rem;
    background-color: var(--header-color);
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-300%);
    transition: all .4s ease-out;
}

.social-btn span {
    font-size: 1.6rem;
    color: var(--bright-color);
    margin-left: 1rem;
}

.social .social-btn.hidden {
    opacity: 0;
}

.social .social-btn.show {
    opacity: 1;
    transform: translateX(0px);
}

.social-icon {
    display: inline-block;
}

.social-btn:hover:nth-child(1) {
    width: 11.5rem;
}

.social-btn:hover:nth-child(2) {
    width: 14rem;
}

.social-btn:hover:nth-child(3) {
    width: 12rem;
}

.social-btn:hover:nth-child(4) {
    width: 14rem;
}

.social-btn .fa-github {
    color: var(--bright-color);
    margin-left: 1.02rem;
}

.social-btn .fa-instagram {
    color: var(--bright-color);
    margin-left: 1.07rem;
}

.social-btn .fa-linkedin {
    color: var(--bright-color);
    margin-left: 1.07rem;
}

.social-btn .fa-whatsapp {
    color: var(--bright-color);
    margin-left: 1.09rem;
}

.center-icon {
    font-size: 2rem;
}

.two {
    background-color: var(--background-color);
    color: var(--bright-color);
}

.about {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    gap: 3rem;
}

.about-title {
    font-size: 2.5rem;
    text-align: center;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
}

.about-title.hidden {
    opacity: 0;
}

.about-title.show {
    opacity: 1;
    transform: translateX(0);
}

.about-text {
    font-size: 1.5rem;
    text-align: justify;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
    margin-bottom: 2rem;
    transition-delay: 700ms;
}

.about-text.hidden {
    opacity: 0;
}

.about-text.show {
    opacity: 1;
    transform: translateX(0);
}

.about-strong {
    color: var(--main-color);
}

.prog-img {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
}

.language-img {
    width: 5rem;
    object-fit: contain;
    transition: all .5s ease-out;

}

.language-img.hidden {
    opacity: 0;
    transform: translateY(50%);
}

.language-img.show {
    opacity: 1;
    transform: translateY(0);
}

.prog-img :nth-child(2) {
    transition-delay: 200ms;
}

.prog-img :nth-child(3) {
    transition-delay: 400ms;
}

.prog-img :nth-child(4) {
    transition-delay: 600ms;
}

.prog-img :nth-child(5) {
    transition-delay: 800ms;
}

.cs {
    color: #853688;
    font-weight: 700;
}

.c {
    color: #3f4caf;
    font-weight: 700;
}

.html {
    color: #f16a30;
    font-weight: 700;
}

.css {
    color: #088dcc;
    font-weight: 700;
}

.js {
    color: #f7e025;
    font-weight: 700;
}

.three {
    background-color: var(--background-color);
    color: var(--bright-color);
    font-size: 2rem;
}

.four {
    background-color: var(--background-color);
    color: var(--bright-color);
    font-size: 2rem;
}

.five {
    background-color: var(--background-color);
}

.content-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-contact-title {
    font-size: 3rem;
    margin-bottom: 0.55rem;
    color: var(--bright-color);
    transition: opacity 5s ease-in, transform 5s ease-in;
    animation: pulse 3s ease-in-out infinite;
}

.content-contact-title.hidden {
    opacity: 0;
    transform: scale(.5);

}

.content-contact-title.show {
    opacity: 1;
    transform: scale(1);
}

.content-contact-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 40%;
}

.content-contact-form-label,
.content-contact-form-input,
.content-contact-form-textarea,
.content-contact-form-button {
    display: block;
}

.content-contact-form-input,
.content-contact-form-textarea,
.content-contact-form-button {
    width: 100%;
    font: inherit;
    padding: 10px;
}

.content-contact-form-input,
.content-contact-form-textarea {
    margin-bottom: 1rem;
    color: var(--bright-color);
    background: var(--header-color);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: all 0.3s;
}

.content-contact-form-input:hover,
.content-contact-form-input:focus,
.content-contact-form-textarea:hover,
.content-contact-form-textarea:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 0 5px var(--secondary-color);
}

.content-contact-form-label {
    margin-bottom: 0.7rem;
    color: var(--bright-color);
}

.content-contact-form-textarea {
    height: 40svh;
    resize: none;
}

.content-contact-form-button {
    border: none;
    border-radius: 17px;
    color: var(--bright-color);
    background: var(--main-color);
    cursor: pointer;
    transition: transform 0.5s ease-in-out, opacity 2s ease-in;
    transform: translateX(-100%);
}

.content-contact-form-button.hidden{
    opacity: 0;
}

.content-contact-form-button.show{
    opacity: 1;
    transform: translateX(0);
}

.content-contact-form-button:hover,
.content-contact-form-button:focus {
    outline: none;
    color: var(--secondary-color);
    background: var(--bright-color);
    transform: scale(1.1);
}

.form-title{
    transition: all 4s ease-in-out;
    transform: translateX(50%);
}

.form-title.hidden{
    opacity: 0;
}

.form-title.show{
    opacity: 1;
    transform: translateX(0);
}

.form-input{
    transition: all 1s ease-in-out;
    transform: translateX(-50%);
}

.form-input.hidden{
    opacity: 0;
}

.form-input.show{
    opacity: 1;
    transform: translateX(0);
}

@keyframes blob {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    33% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    66% {
        border-radius: 70% 30% 50% 40%/50% 30% 70% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes fly {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@media (max-width: 1100px) {
    .menu-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        top: 8vh;
        right: 0px;
        background: var(--header-color);
        transition: .5s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.5rem;
    }

    .menu.active .menu-list {
        height: 92svh;
        visibility: visible;
        overflow-y: auto;
        padding-bottom: 8vh;
    }

    .menu-mobile-btn {
        display: block;
    }

    .menu-logo-mobile {
        display: block;
    }

    .menu-logo {
        display: none;
    }

    .social {
        flex-direction: row;
        gap: 1rem;
    }

    .main-one {
        flex-direction: column-reverse;
    }

    .image {
        height: 70%;
    }

    .center-icon {
        display: none;
    }

    .about {
        margin: 0 5%;
    }

    .scroll-about {
        margin-left: 0%;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-text {
        font-size: 1rem;
    }

    .social-btn:hover:nth-child(1) {
        width: 4rem;
    }

    .social-btn:hover:nth-child(2) {
        width: 4rem;
    }

    .social-btn:hover:nth-child(3) {
        width: 4rem;
    }

    .social-btn:hover:nth-child(4) {
        width: 4rem;
    }

    .social-btn {
        transform: translateX(-200%);
    }

    .prog-img {
        gap: 0rem;
    }

    .language-img {
        width: 3.5rem;
    }

    .language-img.hidden {
        opacity: 0;
        transform: translateY(50%);
    }

    .language-img.show {
        opacity: 1;
        transform: translateY(0);
    }

    .about-text {
        margin-bottom: 0;
    }

    .content-contact-form {
        width: 90%;
        max-width: 90%;
    }

    .form-title{
        transform: translateX(5%);
    }
}


@media (max-height: 800px) {
    .content-contact-form-textarea {
        height: 30svh;
    }
}