@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --main-color: #3282B8;
    --secondary-color: #0F4C75;
    --background-color: #1B262C;
    --header-color: #324752;
    --bright-color: #BBE1FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* ======================================== Loading Animation ======================================== */

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#logo {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 883;
    stroke-dashoffset: 883;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 681;
    stroke-dashoffset: 681;
    animation: line-anim 2s ease forwards .3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 848;
    stroke-dashoffset: 848;
    animation: line-anim 2s ease forwards .6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 763;
    stroke-dashoffset: 763;
    animation: line-anim 2s ease forwards .9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 316;
    stroke-dashoffset: 316;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 645;
    stroke-dashoffset: 645;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 413;
    stroke-dashoffset: 413;
    animation: line-anim 2s ease forwards 1.8s;
}

/* ======================================== Menu ======================================== */

header {
    position: sticky;
    top: 0;
}

.menu-logo {
    text-decoration: none;
    font-size: 2rem;
    color: var(--background-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1rem;
    letter-spacing: 0.1rem;
    transition: all 0.5s;
}

.menu-logo:hover {
    transform: scale(1.1);
}

.menu-logo-span {
    color: var(--main-color);
    font-weight: 700;
}

.menu-logo-mobile {
    text-decoration: none;
    font-size: 2rem;
    color: var(--background-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1rem;
    letter-spacing: 0.1rem;
    display: none;
}

.menu {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--header-color);
    height: 8vh;
}

.menu-list {
    list-style: none;
    display: flex;
    white-space: nowrap;
}

.menu-list-btn {
    text-decoration: none;
    color: var(--bright-color);
    letter-spacing: 3px;
    margin-left: 10px;
    padding: 1rem;
    transition: all 0.5s;
}

.menu-list-btn:hover {
    text-shadow: var(--bright-color) 0 0 10px, var(--bright-color) 0 0 10px, var(--bright-color) 0 0 10px;
}

.menu-mobile-btn {
    display: none;
    cursor: pointer;
}

.menu-mobile-btn div {
    width: 32px;
    height: 2px;
    background-color: var(--main-color);
    margin: 8px;
    transition: 0.3s;
}

.menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu.active .line2 {
    opacity: 0;
}

.menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.container {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    overflow-y: scroll;
    height: 92svh;
}

/* ======================================== Scroll Bar ======================================== */

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: var(--header-color);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
    border: 3px solid transparent;
    background-clip: content-box;
}

/* ======================================== Scroll Button ======================================== */

#progress {
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    z-index: 10;
}

#progress-value {
    display: block;
    height: calc(100% - 15%);
    width: calc(100% - 15%);
    background-color: var(--bright-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: var(--header-color);
    z-index: 11;
    text-decoration: none;
}


/* ======================================== Scroll ======================================== */

.page {
    height: 92svh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* ======================================== Home ======================================== */

.one {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.main-one {
    display: flex;
    height: 80svh;
    width: 80svw;
    justify-content: space-around;
    align-items: center;
}

.image {
    background-color: var(--main-color);
    height: 80%;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: blob 10s ease-in-out infinite;
    transition: all 1s;
}

.image:hover {
    transform: scale(1.1);
}

.image-photo {
    height: 100%;
    animation: blob 10s ease-in-out infinite;
    transition: all 5s ease-in-out;
}

.main-one .image.hidden {
    opacity: 0;
}

.main-one .image.show {
    opacity: 1;
}

.scroll-about {
    text-decoration: none;
    color: var(--bright-color);
    font-size: 1.5rem;
    transition: opacity 5s;
    margin-left: 55%;
    animation: fly 2s ease-in-out infinite;
    padding: 2rem;
}

.scroll-about.hidden {
    opacity: 0;
}

.scroll-about.show {
    opacity: 1;
}

.social {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    line-height: 4rem;
    gap: 2rem;
}

.social-btn {
    display: inline-block;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    text-align: left;
    overflow: hidden;
    border-radius: 5rem;
    background-color: var(--header-color);
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-300%);
    transition: all .4s ease-out;
}

.social-btn span {
    font-size: 1.6rem;
    color: var(--bright-color);
    margin-left: 1rem;
}

.social .social-btn.hidden {
    opacity: 0;
}

.social .social-btn.show {
    opacity: 1;
    transform: translateX(0px);
}

.social-icon {
    display: inline-block;
}

.social-btn:hover:nth-child(1) {
    width: 11.5rem;
}

.social-btn:hover:nth-child(2) {
    width: 14rem;
}

.social-btn:hover:nth-child(3) {
    width: 12rem;
}

.social-btn:hover:nth-child(4) {
    width: 14rem;
}

.social-btn .fa-github {
    color: var(--bright-color);
    margin-left: 1.02rem;
}

.social-btn .fa-instagram {
    color: var(--bright-color);
    margin-left: 1.07rem;
}

.social-btn .fa-linkedin {
    color: var(--bright-color);
    margin-left: 1.07rem;
}

.social-btn .fa-whatsapp {
    color: var(--bright-color);
    margin-left: 1.09rem;
}

.center-icon {
    font-size: 2rem;
}

/* ======================================== About ======================================== */

.two {
    background-color: var(--background-color);
    color: var(--bright-color);
}

.about {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    gap: 3rem;
}

.about-title {
    font-size: 2.5rem;
    text-align: center;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
}

.about-title.hidden {
    opacity: 0;
}

.about-title.show {
    opacity: 1;
    transform: translateX(0);
}

.about-text {
    font-size: 1.5rem;
    text-align: justify;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transition-delay: 700ms;
}

.about-text.hidden {
    opacity: 0;
}

.about-text.show {
    opacity: 1;
    transform: translateX(0);
}

.about-strong {
    color: var(--main-color);
}

.prog-img {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
}

.language-img {
    width: 5rem;
    object-fit: contain;
    transition: all .5s ease-out;

}

.language-img.hidden {
    opacity: 0;
    transform: translateY(50%);
}

.language-img.show {
    opacity: 1;
    transform: translateY(0);
}

.prog-img :nth-child(2) {
    transition-delay: 200ms;
}

.prog-img :nth-child(3) {
    transition-delay: 400ms;
}

.prog-img :nth-child(4) {
    transition-delay: 600ms;
}

.prog-img :nth-child(5) {
    transition-delay: 800ms;
}

.cs {
    color: #853688;
    font-weight: 700;
}

.c {
    color: #3f4caf;
    font-weight: 700;
}

.html {
    color: #f16a30;
    font-weight: 700;
}

.css {
    color: #088dcc;
    font-weight: 700;
}

.js {
    color: #f7e025;
    font-weight: 700;
}

.curriculum {
    position: relative;
    margin: 0 auto;
    transform: translateX(-50%);
    transition: opacity 4s ease-in-out, transform 3s ease-in-out;
}

.curriculum.hidden {
    opacity: 0;
}

.curriculum.show {
    opacity: 1;
    transform: translateX(0);
}

.curriculum a {
    display: block;
    width: 220px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--bright-color);
    border: 2px solid var(--bright-color);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: letter-spacing .35s ease-in-out;
    padding: .5rem;
}

.curriculum a span {
    position: relative;
    z-index: 2;
}

.curriculum a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--header-color);
    transition: width .35s ease-in-out;
}

.curriculum a:hover {
    color: var(--bright-color);
    letter-spacing: .3rem;
}

.curriculum a:hover:after {
    width: 100%;
}

/* ======================================== Career ======================================== */

.three {
    background-color: var(--background-color);
    color: var(--bright-color);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.career {
    background-color: var(--header-color);
    width: 80%;
    height: 80%;
    padding: 0 2rem;
    border-radius: 1rem;
    box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 1s ease-out, opacity 2s;
    overflow: hidden;
}

.career.hidden {
    opacity: 0;
    transform: scale(0);

}

.career.show {
    opacity: 1;
    transform: scale(1);
}

.tab-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--bright-color);
    position: relative;
}

.tab-btn {
    font-size: 2rem;
    color: var(--bright-color);
    font-weight: 700;
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: color .5s ease-in-out;
}

.tab-btn.active {
    color: var(--main-color);
}

.content-box {
    padding: 1rem;
    height: 80%;
}

.content-box .content {
    display: none;
    animation: moving .5s ease;
    height: 100%;
}

.content-box .content.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    position: absolute;
    top: 78px;
    height: 6px;
    background-color: var(--main-color);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    display: none;
}

.content {
    gap: 2rem;
}

.content .block div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.content h2 {
    font-size: 2rem;
    margin: 0;
}

.content span {
    font-size: 1rem;
    text-align: center;
}

.content p {
    font-size: 1.5rem;
    text-align: center;
}

/* ======================================== Projects ======================================== */

.four {
    background-color: var(--background-color);
    color: var(--bright-color);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 1s ease-out, opacity 2s;
}

.swiper.hidden {
    opacity: 0;
    transform: scale(0);

}

.swiper.show {
    opacity: 1;
    transform: scale(1);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.swiper-slide img {
    margin: 0 auto;
    width: 65%;
    border-radius: 1rem;
}

.project-text {
    margin: 10px 50px 0 50px;
    text-align: justify;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-button {
    display: flex;
    justify-content: space-around;
    width: auto;
    flex-wrap: wrap;
}

.information-button a {
    text-decoration: none;
    color: var(--bright-color);
    /* border: 0.15rem solid var(--bright-color); */
    /* border-radius: 1rem; */
    width: 10rem;
    margin: 1rem;
    padding: 0.5rem;
}

.link-button {
    transition: all 0.5s;
    position: relative;
}

.link-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.link-button:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.link-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid var(--bright-color);
    transform: scale(1.2, 1.2);
}

.link-button:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ======================================== Contact ======================================== */

.five {
    background-color: var(--background-color);
}

.content-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-title {
    font-size: 3rem;
    margin-bottom: 0.55rem;
    color: var(--bright-color);
    transition: opacity 5s ease-in, transform 5s ease-in;
    animation: pulse 3s ease-in-out infinite;
}

.content-title.hidden {
    opacity: 0;
    transform: scale(.5);

}

.content-title.show {
    opacity: 1;
    transform: scale(1);
}

.content-contact-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 40%;
}

.content-contact-form-label,
.content-contact-form-input,
.content-contact-form-textarea,
.content-contact-form-button {
    display: block;
}

.content-contact-form-input,
.content-contact-form-textarea,
.content-contact-form-button {
    width: 100%;
    font: inherit;
    padding: 10px;
}

.content-contact-form-input,
.content-contact-form-textarea {
    margin-bottom: 1rem;
    color: var(--bright-color);
    background: var(--header-color);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: all 0.3s;
}

.content-contact-form-input:hover,
.content-contact-form-input:focus,
.content-contact-form-textarea:hover,
.content-contact-form-textarea:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 0 5px var(--secondary-color);
}

.content-contact-form-label {
    margin-bottom: 0.7rem;
    color: var(--bright-color);
}

.content-contact-form-textarea {
    height: 40svh;
    resize: none;
}

.content-contact-form-button {
    border: none;
    border-radius: 17px;
    color: var(--bright-color);
    background: var(--main-color);
    cursor: pointer;
    transition: transform 0.5s ease-in-out, opacity 2s ease-in;
    transform: translateX(-100%);
}

.content-contact-form-button.hidden {
    opacity: 0;
}

.content-contact-form-button.show {
    opacity: 1;
    transform: translateX(0);
}

.content-contact-form-button:hover,
.content-contact-form-button:focus {
    outline: none;
    color: var(--secondary-color);
    background: var(--bright-color);
    transform: scale(1.1);
}

.form-title {
    transition: all 4s ease-in-out;
    transform: translateX(50%);
}

.form-title.hidden {
    opacity: 0;
}

.form-title.show {
    opacity: 1;
    transform: translateX(0);
}

.form-input {
    transition: all 1s ease-in-out;
    transform: translateX(-50%);
}

.form-input.hidden {
    opacity: 0;
}

.form-input.show {
    opacity: 1;
    transform: translateX(0);
}

/* ======================================== Animations ======================================== */

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: var(--bright-color);
    }
}

@keyframes blob {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    33% {
        border-radius: 50% 60% 70% 40%/50% 60% 30% 60%;
    }

    66% {
        border-radius: 70% 30% 50% 40%/50% 30% 70% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fly {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ======================================== Responsive ======================================== */


@media (max-height: 800px) {
    .content-contact-form-textarea {
        height: 30svh;
    }
}

@media (max-width: 1350px) {
    .content-slide {
        flex-direction: column;
        justify-content: center;
    }

    .swiper-slide img {
        margin: 10px auto;
        width: 60%;
        height: 55%;
        object-fit: cover;
    }

    .project-text {
        margin: 5px 50px 5px 50px;
    }

    .information-button {
        margin: 0 0 2rem 0;
    }

    .information-button a {
        margin: 0 1rem 1rem 1rem;
    }
}

@media (max-width: 1100px) {
    .menu-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        top: 8vh;
        right: 0px;
        background: var(--header-color);
        transition: .5s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.5rem;
    }

    .menu.active .menu-list {
        height: 92svh;
        visibility: visible;
        overflow-y: auto;
        padding-bottom: 8vh;
    }

    .menu-mobile-btn {
        display: block;
    }

    .menu-logo-mobile {
        display: block;
    }

    .menu-logo {
        display: none;
    }

    .social {
        flex-direction: row;
        gap: 1rem;
    }

    .main-one {
        flex-direction: column-reverse;
    }

    .image {
        height: 70%;
    }

    .center-icon {
        display: none;
    }

    .about {
        margin: 0 5%;
    }

    .scroll-about {
        margin-left: 0%;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-text {
        font-size: 1rem;
    }

    .social-btn:hover:nth-child(1) {
        width: 4rem;
    }

    .social-btn:hover:nth-child(2) {
        width: 4rem;
    }

    .social-btn:hover:nth-child(3) {
        width: 4rem;
    }

    .social-btn:hover:nth-child(4) {
        width: 4rem;
    }

    .social-btn {
        transform: translateX(-150%);
    }

    .prog-img {
        gap: 0rem;
    }

    .language-img {
        width: 3.5rem;
    }

    .language-img.hidden {
        opacity: 0;
        transform: translateY(50%);
    }

    .language-img.show {
        opacity: 1;
        transform: translateY(0);
    }

    .about-text {
        margin-bottom: 0;
    }

    .content-slide {
        flex-direction: column;
    }

    .swiper-slide img {
        width: 80%;
    }

    .content-contact-form {
        width: 90%;
        max-width: 90%;
    }

    .form-title {
        transform: translateX(5%);
    }

    #progress {
        height: 0;
        width: 0;

    }

    #progress-value {
        display: none;
    }

    ::-webkit-scrollbar{
        display: none;
    }
}

@media (max-width: 1000px) {
    .tab-btn {
        font-size: 1.5rem;
    }

    .line {
        top: 65px;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .content span {
        font-size: 0.7rem;
    }

    .content p {
        font-size: 1rem;
    }

}

@media (max-width: 800px) {
    .content-slide {
        justify-content: flex-start;
    }

    .swiper-slide img {
        margin: 0;
        width: 100%;
        height: 45%;
        object-fit: cover;
    }

    .information-slide {
        display: flex;
        flex-direction: column;
        margin: auto auto;
        height: 100%;
        justify-content: center;
    }

    .project-text {
        font-size: 1rem;
    }

    .information-button {
        gap: 1rem;
    }

    .information-button a {
        margin: 0 0 1rem 0;
        width: 8rem;
        font-size: 1rem;
    }

    .tab-btn {
        font-size: 1rem;
    }

    .line {
        top: 55px;
    }

    .content h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 580px) {
    .career {
        padding: 0 .5rem;
    }

    .tab-box {
        gap: .2rem;
    }

    .tab-btn {
        padding: 1rem 0;
        font-size: .85rem;
    }

    .line {
        top: 50px;
    }
}

@media (max-width: 550px) {
    .swiper-slide img {
        height: 35%;
    }

    .project-text {
        font-size: 0.9rem;
        margin: 0 40px 5px 40px;
    }

    .information-button {
        margin: 0 1rem 2rem 1em;
    }
}

@media (max-width: 390px) {
    .content-slide {
        justify-content: center;
    }

    .social-btn {
        transform: translateX(-100%);
    }

    .swiper-slide img {
        display: none;
    }
}